aiohttp
aiohttp-cors
killport
msgpack
numpy
params-proto

sphinx==7.1.2
furo
myst_parser
sphinx_copybutton
# this is the relative width implementation.
git+https://github.com/QuLogic/sphinxcontrib-video.git@634ce982244ae9fee29958524536f5288b49c5d5