/* Base font size for documentation */
.content, .sidebar, body {
  font-size: 15px !important;
}

@media (min-width: 1009px) {
  .sidebar-drawer {
    width: 19em !important;
  }

  .sidebar-container {
    width: 18em !important;
  }
}

/* Title responsive sizing */
@media all and (min-width: 50px)   {  h1.full-width  { font-size: 22px !important;  } }
@media all and (min-width: 238px)  {  h1.full-width  { font-size: 9vw !important;  } }
@media all and (min-width: 440px)  {  h1.full-width  { font-size:10vw !important;  } }
@media all and (min-width: 737px)  {  h1.full-width  { font-size:71px !important;  } }
@media all and (min-width: 1073px) {  h1.full-width  { font-size:59px !important;  } }